.btn-1 {
    background-color: green;
    color: red;
}
.message {
    background-color: rgb(245, 173, 173);
    padding: 15px;
    box-shadow: 5px 5px 5px 1px rgba(233, 227, 227, 0.692);
    position: relative;
    font-weight: bold;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: fit-content;
    place-content: middle;
}